.products-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.single-product{
    flex: 0 1 350px;
    margin: 5px;
}
.min-width-140{
  min-width: 140px;
  display: inline-block;
}
.min-width-155{
  min-width: 155px;
  display: inline-block;
}